on: 
  workflow_dispatch:
    inputs:
      image:
        description: 'Docker Image to build'     
        required: true
        type: choice
        options:
        - helm
        - jumper
        - redis-backup
        - terraform
      image_tag:
        description: 'Image tag'
        required: true 
        type: string
env:
  ECR_REGISTRY: 957335373174.dkr.ecr.us-east-1.amazonaws.com
  ECR_REPOSITORY: ${{ github.event.inputs.image }}
  IMAGE_TAG: ${{ github.event.inputs.image_tag }}
  FILE_PATH: ${{ github.event.inputs.image }}
jobs:
  log-the-inputs:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      
    - name: Get current date
      id: date
      run: echo "::set-output name=date::$(date +'%Y-%m-%d')"

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push the image to Amazon ECR
      id: build-image
      run: |
        # Build a docker container and push it to ECR 
        cd $FILE_PATH
        docker build -t ${{ steps.login-ecr.outputs.registry }}/devops/$ECR_REPOSITORY:$IMAGE_TAG .
    
    - name: Run Trivy vulnerability scanner
      uses: aquasecurity/trivy-action@master
      with:
          image-ref: '${{ steps.login-ecr.outputs.registry }}/devops/${{ github.event.inputs.image }}:${{ github.event.inputs.image_tag }}'
          format: 'table'
          exit-code: '0'
          ignore-unfixed: true
          vuln-type: 'os,library'
          output: ${{ steps.date.outputs.date }}
          severity: 'CRITICAL,HIGH'

    - name: Build, tag, and push the image to Amazon ECR
      id: push-image
      run: |
        echo "Pushing image to ECR..."
        docker push ${{ steps.login-ecr.outputs.registry }}/devops/$ECR_REPOSITORY:$IMAGE_TAG
        echo "::set-output name=image::${{ steps.login-ecr.outputs.registry }}/$ECR_REPOSITORY:$IMAGE_TAG"

    - name: logout from ECR
      if: always()
      run: docker logout ${{ steps.login-ecr.outputs.registry }}
